"""PostgreSQL BUILD file."""

# TODO: Binaries. This will involve breaking a lot of things into libraries.
# TODO: Fix selects to be OS + CPU, some linux things won't work on aarch64

load("@bazel_skylib//lib:selects.bzl", "selects")
load("@bazel_skylib//rules:common_settings.bzl", "bool_flag")
load("@bazel_skylib//rules:copy_file.bzl", "copy_file")
load("@bazel_skylib//rules:write_file.bzl", "write_file")
load("@rules_cc//cc:cc_library.bzl", "cc_library")
load("@bazel_skylib//rules:expand_template.bzl", "expand_template")

PG_VERSION_NUM = "%%{repo_pg_version_num}"

PG_MAJORVERSION_NUM = "%%{repo_major}"

PG_MINORVERSION_NUM = "%%{repo_minor}"

copy_file(
    name = "pg_config_ext",
    out = "src/include/pg_config_ext.h",
    src = "templates/default/common/pg_config_ext.h",
)

copy_file(
    name = "pg_config_paths",
    out = "src/include/pg_config_paths.h",
    src = "templates/default/common/pg_config_paths.h",
)

bool_flag(
    name = "use_boringssl",
    build_setting_default = False,
    visibility = ["//visibility:public"],
)

config_setting(
    name = "use_boringssl_setting",
    flag_values = {":use_boringssl": "True"},
)

selects.config_setting_group(
    name = "macos-aarch64",
    match_all = [
        "@platforms//os:macos",
        "@platforms//cpu:aarch64",
    ],
)

selects.config_setting_group(
    name = "linux-x86_64",
    match_all = [
        "@platforms//os:linux",
        "@platforms//cpu:x86_64",
    ],
)

selects.config_setting_group(
    name = "linux-aarch64",
    match_all = [
        "@platforms//os:linux",
        "@platforms//cpu:aarch64",
    ],
)

selects.config_setting_group(
    name = "windows-x86_64",
    match_all = [
        "@platforms//os:windows",
        "@platforms//cpu:x86_64",
    ],
)

selects.config_setting_group(
    name = "windows-aarch64",
    match_all = [
        "@platforms//os:windows",
        "@platforms//cpu:aarch64",
    ],
)

expand_template(
    name = "pg_config",
    out = "src/include/pg_config.h",
    substitutions = {
        "%{major}": PG_MAJORVERSION_NUM,
        "%{minor}": PG_MINORVERSION_NUM,
        "%{pg_version_num}": PG_VERSION_NUM,
    },
    template = select({
        ":macos-aarch64": "templates/default/macos-aarch64/pg_config.h",
        ":linux-aarch64": "templates/default/linux-aarch64/pg_config.h",
        ":linux-x86_64": "templates/default/linux-x86_64/pg_config.h",
#        ":windows-aarch64": "templates/default/windows-aarch64/pg_config.h",
#        ":windows-x86_64": "templates/default/windows-x86_64/pg_config.h",
    }),
)

copy_file(
    name = "pg_config_os",
    src = select({
        "@platforms//os:linux": "src/include/port/linux.h",
        "@platforms//os:macos": "src/include/port/darwin.h",
        "@platforms//os:windows": "src/include/port/win32.h",
    }),
    out = "src/include/pg_config_os.h",
)

cc_library(
    name = "include",
    hdrs = [
        ":src/include/pg_config.h",
        ":src/include/pg_config_ext.h",
        ":src/include/pg_config_os.h",
        ":src/include/pg_config_paths.h",
    ] + glob(["src/**/*.h"]),
    includes = [
        "src/common",
        "src/include",
    ],
)

LIBPORTS_BASE = [
    "src/port/bsearch_arg.c",
    "src/port/chklocale.c",
    "src/port/inet_net_ntop.c",
    "src/port/noblock.c",
    "src/port/pg_bitutils.c",
    "src/port/pg_crc32c_sb8.c",
    "src/port/pg_strong_random.c",
    "src/port/pgcheckdir.c",
    "src/port/pgmkdirp.c",
    "src/port/pgsleep.c",
    "src/port/pgstrcasecmp.c",
    "src/port/pgstrsignal.c",
    "src/port/pqsignal.c",
    "src/port/qsort.c",
    "src/port/quotes.c",
    "src/port/snprintf.c",
    "src/port/strerror.c",
    "src/port/strlcat.c",
    "src/port/strlcpy.c",
    "src/port/tar.c",
]

LIBPORTS_LINUX = [
    "src/port/getpeereid.c",
] + glob(["src/port/thread.c"], allow_empty=True)

LIBPORTS_MACOS = [
    "src/port/explicit_bzero.c",
] + glob(["src/port/thread.c"], allow_empty=True)

LIBPORTS_WINDOWS = [
    "src/port/getpeereid.c",
    "src/port/explicit_bzero.c",
    "src/port/win32common.c",
    "src/port/win32dlopen.c",
    "src/port/win32env.c",
    "src/port/win32error.c",
    "src/port/win32fdatasync.c",
    "src/port/win32fseek.c",
    "src/port/win32getrusage.c",
    "src/port/win32gettimeofday.c",
    "src/port/win32link.c",
    "src/port/win32ntdll.c",
    "src/port/win32pread.c",
    "src/port/win32pwrite.c",
    "src/port/win32security.c",
    "src/port/win32setlocale.c",
    "src/port/win32stat.c",
    "src/port/open.c",
    "src/port/dirmod.c",
]

LIBPQ_PUBLIC_HDRS = [
    "src/include/pg_config.h",
    "src/include/pg_config_ext.h",
    "src/include/pg_config_manual.h",
    "src/include/postgres_ext.h",
    "src/interfaces/libpq/fe-auth-sasl.h",
    "src/include/postgres_fe.h",
    "src/include/port.h",
    "src/include/c.h",
    "src/include/libpq/libpq-fs.h",
    "src/include/libpq/pqcomm.h",
    "src/interfaces/libpq/libpq-fe.h",
    "src/interfaces/libpq/pqexpbuffer.h",
    "src/interfaces/libpq/libpq-int.h",
    "src/interfaces/libpq/libpq-events.h",
]

LIBCOMMON_BASE = [
    "src/common/base64.c",
    "src/common/encnames.c",
    "src/common/fe_memutils.c",
    "src/common/file_perm.c",
    "src/common/ip.c",
    "src/common/jsonapi.c",
    "src/common/kwlookup.c",
    "src/common/link-canary.c",
    "src/common/logging.c",
    "src/common/md5_common.c",
    "src/common/md5.c",
    "src/common/percentrepl.c",
    "src/common/pg_get_line.c",
    "src/common/pg_lzcompress.c",
    "src/common/pg_prng.c",
    "src/common/pgfnames.c",
    "src/common/psprintf.c",
    "src/common/restricted_token.c",
    "src/common/rmtree.c",
    "src/common/saslprep.c",
    "src/common/scram-common.c",
    "src/common/sha1.c",
    "src/common/sha2.c",
    "src/common/sprompt.c",
    "src/common/string.c",
    "src/common/stringinfo.c",
    "src/common/unicode_norm.c",
    "src/common/username.c",
    "src/common/wait_error.c",
    "src/common/wchar.c",
]

LIBCOMMON_NOT_WINDOWS = [
    "src/common/cryptohash.c",
    "src/common/hmac.c",
]

LIBCOMMON_WINDOWS = [
    "src/common/cryptohash.c",
    "src/common/hmac.c",
]

LIBPQ_BASE = [
    "src/interfaces/libpq/fe-auth-scram.c",
    "src/interfaces/libpq/fe-auth.c",
    "src/interfaces/libpq/fe-connect.c",
    "src/interfaces/libpq/fe-exec.c",
    "src/interfaces/libpq/fe-lobj.c",
    "src/interfaces/libpq/fe-misc.c",
    "src/interfaces/libpq/fe-print.c",
    "src/interfaces/libpq/fe-protocol3.c",
    "src/interfaces/libpq/fe-secure.c",
    "src/interfaces/libpq/fe-trace.c",
    "src/interfaces/libpq/legacy-pqsignal.c",
    "src/interfaces/libpq/libpq-events.c",
    "src/interfaces/libpq/pqexpbuffer.c",
]

LIBPQ_NOT_WINDOWS = [
    "src/interfaces/libpq/fe-secure-common.c",
]

LIBPQ_WINDOWS = [
    "src/interfaces/libpq/pthread-win32.c",
    "src/interfaces/libpq/win32.c",
]

cc_library(
    name = "pq_ssl_lib",
    defines = select({
        ":use_boringssl_setting": [
            "BAZEL_PQ_USE_BORINGSSL=1",
        ],
        "//conditions:default": [],
    }),
    tags = ["manual"],
    deps = select({
        ":use_boringssl_setting": [
            "@boringssl//:crypto",
            "@boringssl//:ssl",
        ],
        "//conditions:default": [
            "@openssl//:crypto",
            "@openssl//:ssl",
        ],
    }),
)

cc_library(
    name = "pq",
    srcs = select({
        "@platforms//os:linux": LIBPQ_BASE + LIBPQ_NOT_WINDOWS + LIBCOMMON_BASE + LIBCOMMON_NOT_WINDOWS + LIBPORTS_BASE + LIBPORTS_LINUX,
        "@platforms//os:macos": LIBPQ_BASE + LIBPQ_NOT_WINDOWS + LIBCOMMON_BASE + LIBCOMMON_NOT_WINDOWS + LIBPORTS_BASE + LIBPORTS_MACOS,
        "@platforms//os:windows": LIBPQ_BASE + LIBPQ_WINDOWS + LIBCOMMON_BASE + LIBCOMMON_WINDOWS + LIBPORTS_BASE + LIBPORTS_WINDOWS,
    }),
    hdrs = LIBPQ_PUBLIC_HDRS,
    implementation_deps = [
        ":include",
    ],
    includes = [
        "src/include",
        "src/interfaces",
    ],
    linkopts = select({
        "@platforms//os:windows": [
            "Secur32",
            "Shell32",
        ],
        "//conditions:default": [],
    }),
    linkstatic = True,
    local_defines = [
        "FRONTEND",
    ] + select({
        "@platforms//os:linux": [
            "_GNU_SOURCE",
        ],
        "@platforms//os:macos": [
            "_FORTIFY_SOURCE=0",
        ],
        "@platforms//os:windows": [
            "WIN32",
            "_WINDOWS",
            "__WIN32__",
            "__WINDOWS__",
            "HAVE_SOCKLEN_T=1",
        ],
    }),
    visibility = ["//visibility:public"],
    deps = [":pq_ssl_lib"],
)

alias(
    name = "libpq",
    actual = ":pq",
    visibility = ["//visibility:public"],
)
